<span class="twitch-user">
  <div class="">
    <a class="btn btn-link" href="https://www.twitch.tv/{{username}}" target="_blank" rel="noopener noreferrer" title="{{username}}">
      <img data-img-error src="/api/v1/twitch/avatar/{{username}}" height="24" width="24" class="me-1" />
      <span>{{username}}</span>
    </a>
  </div>
</span>