<div class="d-none" data-type="template">
  <div class="" data-template="discord-guild">
    <img data-img-error src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" 
    data-bind="icon" data-bind-icon-attr="src" height="24" width="24" class="me-1"/>
    <span data-bind="name"></span>
  </div>
</div>