<div class="d-none" data-type="template">
  <div class="input-group discord-role" data-template="discord-role">
    <label class="input-group-text rounded-0"><i data-bind-empty="true" data-bind="faType" data-bind-fatype-attr="class" class="fas fa-at"></i></label>
    <input 
      data-style-replace="cssColor" 
      data-style-replace-property="color" 
      type="text" 
      class="form-control" 
      data-bind="name" 
      data-bind-name-attr="value"
      readonly />
  </div>
</div>