<div class="d-none" data-type="template">
  <span class="discord-emoji" data-template="discord-emoji">
    <img data-img-error 
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" 
      data-bind="url" 
      data-bind-url-attr="src" 
      data-bind="name" 
      data-bind-name-attr="alt"
      data-bind="id"
      data-bind-id-attr="data-discord-emoji-id"
      class="me-1"/>
  </span>
</div>