<div class="d-none" data-type="template">
  <div class="input-group discord-mentionable" data-template="discord-user-field">
    <label class="input-group-text rounded-0"><i data-bind-empty="true" data-bind="faType" data-bind-fatype-attr="class" class="fas fa-at"></i></label>
    <label class="input-group-text rounded-0">
      <img 
        data-img-error 
        data-bind="avatar"
        data-bind-avatar-attr="src"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" 
        height="24" width="24" class="me-1 ms-1 placeholder" />
    </label>
    <input 
      data-style-replace="cssColor" 
      data-style-replace-property="color" 
      type="text" 
      class="form-control" 
      data-bind="display_name" 
      data-bind-display_name-attr="value"
      readonly />
  </div>
</div>