<div class="d-none" data-type="template">
  <div class="input-group discord-channel" data-template="discord-channel-field">
    {{!-- <label class="input-group-text ">[0]</label> --}}
    <label class="input-group-text rounded-0"><i data-bind-empty="true" data-bind="faType" data-bind-fatype-attr="class" class="fas fa-hashtag"></i></label>
    <input type="text" readonly class="form-control" data-bind="name" data-bind-name-attr="value">
  </div>
</div>