<span class="" data-discord-channel="{{channel}}" data-discord-channel-guild="{{or guild @root.discordGuild config.tacobot.primaryGuildId}}">
  <div class="placeholder-glow input-group discord-channel" data-template="discord-channel">
  {{!-- <label class="input-group-text ">[0]</label> --}}
  <label class="input-group-text placeholder rounded-0"><i class="fas fa-hashtag"></i></label>
  <div class="placeholder form-control">{{or guild @root.discordGuild config.tacobot.primaryGuildId}}/{{channel}}</div>
  </div>
</span>