  <span class="discord-guild btn btn-link" data-discord-guild="{{id}}">
    <div class="placeholder-glow" data-template="discord-guild">
      <img data-img-error src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" 
      height="24" width="24" class="me-1 placeholder"/>
      <span class="placeholder">{{id}}</span>
    </div>
  </span>
