<span class="" data-discord-role="{{role}}" data-discord-role-guild="{{or guild @root.discordGuild config.tacobot.primaryGuildId}}">
  <div class="placeholder-glow input-group discord-role" data-template="discord-role">
    {{!-- <label class="input-group-text ">[0]</label> --}}
    <label class="input-group-text placeholder rounded-0"><i class="fas fa-at"></i></label>
    <div class="placeholder form-control">
      <img data-img-error src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" 
      height="24" width="24" class="me-1 placeholder"/>
      <span class="placeholder">{{or guild @root.discordGuild config.tacobot.primaryGuildId}}/{{role}}</span>
    </div>
  </div>
</span>