<span class="discord-user" data-discord-user="{{user_id}}" data-discord-user-guild="{{guild_id}}">
  <div class="placeholder-glow" data-template="discord-user">
    <img data-img-error src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" 
    height="24" width="24" class="me-1 placeholder"/>
    <span class="placeholder">{{user_id}}/{{guild_id}}</span>
  </div>
</span>