{{#with item}}
<div>{{this.name}}</div>
{{> discord/guild id=this.guild_id}}
<div>
{{> date date=this.timestamp unknown="Never Updated"}}
</div>

<pre><code class="language-json">{{json this.settings}}</code></pre>
{{/with}}

{{#section "scripts"}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/json.min.js"></script>
  <script>$(() => { hljs.highlightAll(); });</script>

{{/section}}

{{#section "head"}}
  {{!-- https://highlightjs.org/demo --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/panda-syntax-dark.min.css" />
{{/section}}

{{!-- <form method="post" action="/settings/save">
  {{#each settings}}
    {{> settings/field value=this}}
  {{/each}}
  <button type="submit" class="btn btn-primary">Save</button>
</form> --}}