<li class="nav-item">
  <a class="nav-link{{#if active}} active{{/if}}" href="{{href}}"{{#if external}} target="_blank" rel="noopener noreferrer"{{/if}}>
    <strong><i class="fa fa-{{icon}} me-2" aria-hidden="true"></i>{{title}}</strong>
  </a>
</li>
