<div class="container-fluid">
  <div class="row g-3 align-items-start">
    <div class="col-auto">
      <img id="add-wl-preview" src="" alt="Minecraft player preview" width="120" height="270" class="border rounded bg-dark p-2" />
    </div>
    <div class="col">
      <div class="mb-3">
        <label for="add-wl-guild" class="form-label">Guild</label>
        <input type="text" class="form-control" id="add-wl-guild" name="guildId" placeholder="Guild ID" />
      </div>
      <div class="mb-3">
        <label for="add-wl-discord" class="form-label">Discord User</label>
        <input type="text" class="form-control" id="add-wl-discord" name="discordUser" placeholder="@username or ID" />
      </div>
      <div class="mb-3">
        <label for="add-wl-username" class="form-label">Minecraft Username</label>
        <input type="text" class="form-control" id="add-wl-username" name="minecraftUsername" placeholder="Notch" autocomplete="off" />
        <input type="hidden" id="add-wl-uuid" name="minecraftUuid" value="" />
      </div>
    </div>
  </div>
</div>
