<div class="minecraft-user" data-minecraft-uuid="{{uuid}}">
  <img data-img-error src="https://crafthead.net/avatar/{{uuidFormat uuid "-d l" }}" height="24" width="24" class="me-1"/>
  <span>{{username}}</span>
</div>