

        <div class="inner cover">

          <div class="xcontainer">
            <div class="row">
              <div class="col-lg-8">
                <div class="xcontainer">
                  <div class="row">
                    <div class="col-lg-6">
                      {{!-- {{> glucose-chart }} --}}
                    </div>
                    <div class="col-lg-6">
                      {{!-- {{> weight-chart }} --}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="xcontainer h-100">
                  <div class="row h-100">
                    <div class="col-lg-12">
                      {{!-- {{> foodentry-card }} --}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        {{!-- {{#section "head"}}
        {{/section}}

        {{#section "scripts"}}
        {{/section}} --}}