<div class="container mt-4">
  <div class="justify-content-center">
    <div class="row mb-3">
      <div class="col"></div>
      <div class="col">
        {{> search id="search" name="search" placeholder="Search by Discord User, Minecraft User, or UUID" }}
      </div>
      <div class="col"></div>
    </div>
    <div class="row mb-3">
      <div class="col d-flex justify-content-center">
        {{> pager this.pager search=this.search }}
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="table-active">
        <th class="text-uppercase">Guild</th>
        <th class="text-uppercase">User</th>
        <th class="text-uppercase">Minecraft</th>
        <th class="text-uppercase"><i class="fas fa-users" title="Whitelisted"></i></th>
        <th class="text-uppercase"></th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr>
        <td class="text-nowrap p-1 text-start">{{> discord/guild id=this.guild_id}}</td>
        <td class="text-nowrap p-1 text-start">{{> discord/user user=this.user_id guild=this.guild_id}}</td>
        <td class="text-nowrap p-1 text-start">{{> minecraft/user uuid=this.uuid username=this.username}}</td>
        <td class="text-nowrap">{{> yes-no value=this.whitelist}}</td>
        <td class="text-nowrap"></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="row mt-3">
    <div class="col d-flex justify-content-center">
      {{> pager this.pager search=this.search }}
    </div>
  </div>
</div>

{{!-- Floating Action Button to Add Whitelisted User --}}
<button
  type="button"
  class="btn btn-primary rounded-circle shadow position-fixed fab-add-whitelist btn-fab"
  aria-label="Add Whitelisted User"
  title="Add Whitelisted User"
  data-bs-toggle="modal"
  data-bs-target="#add-whitelist-modal">
  <i class="fas fa-plus" aria-hidden="true"></i>
  <span class="visually-hidden">Add Whitelisted User</span>
  </button>

{{!-- Add Whitelist User Modal --}}
{{#> modal 
    id="add-whitelist-modal" 
    title="Add Whitelisted User" 
    buttonText="Add" 
    buttonClass="btn-success" 
    cancelText="Cancel" 
    formAction="/minecraft/whitelist/add" 
    formMethod="POST" }}
  {{> minecraft/new-whitelist-modal}}
{{/modal}}

{{#section 'scripts'}}
  <script src="/javascript/minecraft-whitelist.js" defer></script>
{{/section}}
