<div class="container mt-4">
  <h2>Minecraft Whitelist</h2>
  <table class="table">
    <thead>
      <tr class="table-active">
        <th class="text-uppercase">User</th>
        <th class="text-uppercase">Minecraft</th>
        <th class="text-uppercase">Whitelisted</th>
        <th class="text-uppercase"></th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr>
        <td class="text-nowrap p-1">{{> discord/user id=this.user_id}}</td>
        <td class="text-nowrap p-1">{{> minecraft/user uuid=this.uuid username=this.username}}</td>
        <td class="text-nowrap">{{#if this.whitelist}}✅{{else}}❌{{/if}}</td>
        <td class="text-nowrap"><a href="{{this.source}}" target="_blank"><i class="fas fa-external-link-alt"></i></a></td>
      {{/each}}
    </tbody>
  </table>
  {{> pager this.pager}}
</div>
