{{!-- settings/fields/role.hbs --}}
{{!--
  inputs:
    - level: the alert level (e.g. "info", "warning", "danger")
    - title: the alert title
    - message: the alert message
    - reason: the alert reason (if any)
    - dismissible: whether the alert is dismissible (default: false)
--}}

<div class="alert alert-{{or level "info"}} p-1" role="alert">
  {{#if dismissible}}
    <button type="button" class="btn btn-sm btn-close float-end mt-0 me-1" data-bs-dismiss="alert" aria-label="Close"><i class="fas fa-times"></i></button>
  {{/if}}
  <h4 class="alert-heading mt-1 mb-1">{{title}}</h4>
  <p class="mb-0 p-0">{{message}}</p>
  {{#if reason}}
    <hr>
    <p class="mb-0 p-0">{{reason}}</p>
  {{/if}}
</div>
