{{!-- A field that has an icon to copy the value in the element --}}
  {{#if spoiler}}
  <button class="btn btn-outline-secondary btn-sm border border-end-0 border-secondary-subtle" type="button" data-toggle-spoiler="[data-spoiler]"><i class="fas fa-eye" aria-hidden="true"></i></button>
  {{/if}}
  <code class="form-control{{#if spoiler}} spoiler{{/if}} {{class}}" {{#if copy}}data-copy=""{{/if}} {{#if spoiler}}data-spoiler=""{{/if}}>{{value}}</code>
  {{#if copy}}
  <button class="btn btn-outline-secondary btn-sm border border-start-0 border-secondary-subtle" type="button" data-copy-target="[data-copy]"><i class="far fa-copy" aria-hidden="true"></i></button>
  {{/if}}
