<div class="container mt-4">
  <div class="justify-content-center">
    <div class="row mb-3">
      <div class="col"></div>
      <div class="col">
        {{> search id="search" name="search" placeholder="Search by World Name or ID" }}
      </div>
      <div class="col"></div>
    </div>
    <div class="row mb-3">
      <div class="col d-flex justify-content-center">
        {{> pager this.pager search=this.search }}
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr class="table-active">
        <th class="text-uppercase">Guild</th>
        <th class="text-uppercase">Name</th>
        <th class="text-uppercase"><i class="fas fa-earth-americas" title="Active"></i></th>
        <th class="text-uppercase"></th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr>
        <td class="text-nowrap p-1 text-start">{{> discord/guild id=this.guild_id}}</td>
        <td class="text-nowrap p-1 text-start">{{this.name}}</td>
        <td class="text-nowrap">{{#if this.active}}✅{{else}}❌{{/if}}</td>
        <td class="text-nowrap"></td>
      {{/each}}
    </tbody>
  </table>
  <div class="justify-content-center">
    <div class="row mt-3">
      <div class="col d-flex justify-content-center">
        {{> pager this.pager search=this.search }}
      </div>
    </div>
  </div>
</div>
