<div class="container mt-4">
  <h2>TacoBot Active Twitch Channels</h2>
  <table class="table">
    <thead>
      <tr class="table-active">
        <th class="text-uppercase">Guild</th>
        <th class="text-uppercase">Channel</th>
        <th class="text-uppercase"><i class="fas fa-clock" title="Added / Updated"></i></th>
        <th class="text-uppercase"></th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr>
        <td class="text-nowrap p-1 text-start">{{> discord/guild id=this.guild_id}}</td>
        <td class="text-nowrap p-1 text-start">{{> twitch/user username=this.channel}}</td>
        <td class="text-nowrap p-1 text-start">{{> date date=this.timestamp unknown="UNKNOWN"}}</td>
        <td class="text-nowrap"></td>
      {{/each}}
    </tbody>
  </table>
  {{> pager this.pager}}
</div>
