<!-- User Permissions List Page -->
<div class="container-x mt-4">
  <div class="justify-content-center">
    <div class="row mb-3">
      <div class="col"></div>
      <div class="col">
        {{> search id="search" name="search" placeholder="Search by User Name, ID, Display Name, or Permission" }}
      </div>
      <div class="col"></div>
    </div>
    <div class="row mb-3">
      <div class="col d-flex justify-content-center">
        {{> pager this.pager search=this.search }}
      </div>
    </div>
  </div>

  <div class="row">
  {{#each items}}
      <div class="col-md-6 mb-4">
        {{> permissions/item}}
      </div>
  {{/each}}
  </div>
  
  <div class="d-flex justify-content-center">
  {{> pager this.pager}}
  </div>
</div>
