<div class="container mt-4">
  <h2>User TACO Balance</h2>
  <table class="table">
    <thead>
      <tr class="table-active">
        <th class="text-uppercase">Guild</th>
        <th class="text-uppercase">User</th>
        <th class="text-uppercase">Count</th>
        <th class="text-uppercase"></th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr>
        <td class="text-nowrap p-1 text-start">{{> discord/guild id=this.guild_id}}</td>
        <td class="text-nowrap p-1 text-start">{{> discord/user id=this.user_id}}</td>
        <td class="text-nowrap p-1 text-start">{{> taco count=this.count}}</td>
        <td class="text-nowrap"></td>
      {{/each}}
    </tbody>
  </table>
  {{> pager this.pager}}
</div>
